* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.contenedor-principal {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    column-gap: 30px;
    row-gap: 30px;

}

.contenedor-principal > div {
    align-items: center;
    background-color: blue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
}

.contenedor-principal > div > h2 {
    color: white;
}

#caja5 {
    background-color: red;
    grid-column: span 2;
    width: 430px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;



}

#caja5 > div {
    align-items: center;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    height: 80px;
    width: 80px;


}

#caja1 {
    background-color: orange;
    grid-row: span 2;
    height: 430px;
}

#caja6 {
    background-color: violet;
    grid-column: span 2;
    width: 430px;
}

.contenedor-principal {
    border: 5px solid black;
    padding: 20px;
    border-radius: 20px;
    transform: rotate(30deg);
}