.encabezado-1 {
    background-color: black;
    color: aliceblue;
    height: 200px;
    position: fixed;
    width: 100%;
    
}

.encabezado-1 h1 {
    color: aliceblue;
    text-align: center;
    padding-top: 100px;
    
}

.parrafo1 {
    padding-top: 250px;
    text-align: center;
}