@font-face {
    font-family: "Inter";
    src: url("../asset/font/Inter/Inter-VariableFont_opsz\,wght.ttf") format("truetype-variations");
}

@font-face {
    font-family: "Roboto";
    src: url("../asset/font/Roboto/Roboto-VariableFont_wdth\,wght.ttf") format("truetype-variations");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{
    font-size: 62.5%;
}

body {
    background-color: #D3DAD9;
}

.encabezado-principal{
    padding: 3rem 10rem;
    display: flex;
    justify-content: center;
}

.encabezado-principal > nav > ul {
    display: flex;
    justify-content: space-between;
    padding: 3rem 10rem;

}


.encabezado-principal > nav > ul > li {
    list-style: none;
    font-size: 2.2rem;
    margin: 0 1rem
}


.encabezado-principal > nav > ul > li > a {
    color: #37353E;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-decoration: none;
    text-transform: uppercase;
}

.contenido-principal{
    padding: 3rem 10rem;
}

.contenido-principal  section {
    border: solid 0.1rem black ;
    margin: 3rem;
}

.contenido-principal  section h1 {
    color: #54545f;
    font-size: 5rem;
    font-family: "Inter", sans-serif;
    font-weight: 100;
}
.contenido-principal  section  h1 {
    color: #54545f;
    font-size: 5rem;
    font-family: "Inter", sans-serif;
    font-weight: 100;
}

.contenido-principal  section  h2 {
    color: #44444E;
    font-size: 3rem;
    font-family: "Inter", sans-serif;
}
.contenido-principal  section  article  h3 {
    color: #44444E;
    font-size: 3rem;
    font-family: "Inter", sans-serif;
}

.contenido-principal  section  p {
    color: #715A5A;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
}
.contenido-principal  section  article  p {
    color: #715A5A;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
}


footer{
    padding: 3rem 10rem;
}

