body{
    padding: 200px;
}


.titulo-noticia{
    border-left: 5px solid red;
    padding: 20px;
    margin: 30px;
}

.info{
    margin: 30px;
    font-size: 20px;
    color: #1f1f1f;
}

.imagen{
    width: 90%;
    margin: 30px;
    margin-bottom: 50px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}