*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
}

.contenido-principal {  
    height: 100vh;
    margin: 0;
}


.grid-container {
    display: grid;
    grid-template-columns: 200px 120px 150px 100px 100px 400px 70px 120px 150px ;
    grid-template-rows: 110px 60px 300px 130px 189px ; 
    gap: 10px;
    padding: 10px;

}

.grid-container > div {
    border-radius: 18px;
    background-color: #000000;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

#caja1{   
    grid-column: 1 / 3;
    width: 100%;
    height: 100%;
}

#caja2 {
    grid-column: 3 / 6;
    grid-row: 1 / 3;
    height: 100%; 
    width: 100%;
}

#caja3 {
    grid-column: 6 / 8;
    grid-row: 1 / 3;
    width: 100%;
    height: 100%;
}

#caja4 {
    grid-column: 8 / 10;
    grid-row: 1 / 3;
    height: 100%;
    width: 100%;
}

#caja5 {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    width: 100%;
    height: 100%;

}

#caja6 {
    background-image: url(../img/Apple-Watch-S9-hero-230912.jpg.og.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 3 / 7;
    grid-row: 3 / 5;
    width: 100%;
    height: 100%;
}

#caja7 {
    grid-column: 7 / 10;
    height: 120%;
    width: 100%;
}


#caja8 {
    grid-row: 4 / 7;
    height: 100%;
    width: 100%;
}

#caja9 {
    height: 100%;
    width: 100%;
}

#caja10 {
    grid-column: 7 / 9;
    grid-row: 4 / 6;
    height: 80%;
    width: 100%;
    position: relative;
    top: 62px;

}
 
#caja11 {
    grid-row: span 2;
    width: 100%;
    height: 80%;
    position: relative;
    top: 62px;
}

#caja12{
    grid-column: 2 / 4;
    grid-row: span / 2;
    width: 100%;
    height: 100%;
}

#caja13{
    grid-column: 4 / 6;
    height: 100%;
    width: 100%;
}

#caja14 {
    width: 100%;
    height: 100%;
}