*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    padding: 20px;
}

.contenido-principal {
    max-width: 100%;
    margin: 0 auto;
    padding: 24px;
}


.grid-container {
    display: grid;
    grid-template-columns: 200px 120px 100px 150px 250px 100px 70px 100px 130px ;
    grid-template-rows: 105px 50px 260px 120px 200px 1fr ; 
    gap: 10px;
    padding: 20px;

}

.grid-container > div {
    border-radius: 18px;
    background-color: #000000;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

#caja1{   
    grid-column: 1 / 3;
    width: 100%;
}

#caja2 {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
    height: 100%; 
    width: 100%;
}

#caja3 {
    grid-column: 5 / 8;
    grid-row: 1 / 3;
    width: 100%;
    height: 100%;
}

#caja4 {
    grid-column: 8 / 10;
    grid-row: 1 / 3;
    height: 100%;
    width: 100%;
}

#caja5 {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    width: 100%;
    height: 100%;

}

#caja6 {
    grid-column: 3 / 7;
    grid-row: 3 / 5;
    width: 100%;
    height: 100%;
}

#caja7 {
    grid-column: 7 / 10;
    height: 100%;
    width: 100%;
}


#caja8 {
    grid-row: 4 / 7;
    height: 100%;
    width: 100%;
}

#caja9 {
    height: 100%;
    width: 100%;
}

#caja10 {
    grid-column: 7 / 9;
    grid-row: 4 / 6;
    height: 100%;
    width: 100%;

}
 
